RVL_ALIAS "osc_clk" "osc_clk"; 
RVL_ALIAS "osc_clk" "osc_clk"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "buttons[0]" SITE "N1" ;
LOCATE COMP "buttons[1]" SITE "M3" ;
LOCATE COMP "leds_data[0]" SITE "P16" ;
LOCATE COMP "leds_data[1]" SITE "N15" ;
LOCATE COMP "leds_data[2]" SITE "L13" ;
LOCATE COMP "leds_data[3]" SITE "K11" ;
LOCATE COMP "leds_errors[0]" SITE "L12" ;
LOCATE COMP "leds_errors[1]" SITE "J11" ;
LOCATE COMP "leds_errors[2]" SITE "J13" ;
LOCATE COMP "leds_errors[3]" SITE "H11" ;
LOCATE COMP "clkout" SITE "J15" ;
LOCATE COMP "dataout" SITE "J14" ;
LOCATE COMP "clkin" SITE "P9" ;
LOCATE COMP "datain" SITE "T9" ;
BLOCK JTAGPATHS ;
IOBUF PORT "clkout" SLEWRATE=FAST IO_TYPE=LVCMOS25 ;
IOBUF PORT "dataout" SLEWRATE=FAST IO_TYPE=LVCMOS25 ;
LOCATE COMP "buttons[3]" SITE "N2" ;
LOCATE COMP "buttons[2]" SITE "P1" ;
